extends layout

block content
  .container
    .row
      .col-md-6
        ul.deck
          li.card You are let go from your job.
          li.card A family member comes to you and asks you for a significant loan.
          li.card Your child gets sick and you have to go to the hospital. The bills come in and they are a lot more than you thought.
          li.card All your credit card bills come in at the same time as your rent.
          li.card Your friend has asked you to take part in a Tanda
          li.card Your refrigerator suddeny dies and you have to get a new one.
          li.card You get sick and have to stay home form work for a week.
          li.card A family member dies and you have to pay for the funeral expenses.
          li.card You just got a tax refund and it's more than you thought.
          li.card You have to ask your friend for a loan.
          li.card Your kid just got offered a place at a good school, but it's really expensive.
          li.card One of your checks bounces.
          li.card You just found out you are pregnant.
          li.card You're late on the rent.
          li.card Your car just got towed.
          li.card You dropped your phone in the toilet and it's dead.
          li.card You just got offered a second job
